body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    color: black;
}

/* Header ------------------------------------- */
.jumbotron {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #EDD2E0;
    border-bottom: 1px solid grey;
}

p {
    font-size: 20px;
    margin-top: 20px;
}

/* Body---------------------------------------- */
.contentBox {
    margin: 20px;
    padding-bottom: 150px;
 }

 .row {
    white-space: pre-wrap;
    height: 90px;
    border-top: 1px solid white;
}


.hourBlock {
    padding: 30px 0;
    text-align: center;
    background-color: white;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;    
}

textarea {
    background: transparent;
    border: none;
    border: 1px solid grey;
    resize: none;
    padding: 10px;
  }

.past {
    background-color: rgb(252, 204, 204);
}
  
.present {
    background-color: lavender;
}
  
.future {
    background-color: #c8e9c8;
}

.saveBtn {
    padding: 30px 0;
    text-align: center;

    /* Try to make button look the same on desktop & mobile */
    -webkit-appearance: none; 
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

/* Footer----------------------------------------------------- */
footer {
    width: 100%;
    height: 75px;
    background-color: #EDD2E0;
    text-align: center;
    font-size: 15px;
    position:fixed;
    bottom:0;
    left: 0;
    border-top: 1px solid grey;
}

.copyright {
    margin-top: 35px;
}
